/*General Rules*/

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}


/*Header Rules*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(66, 66, 99);
}

.header ul {
    display: flex;
    list-style: none;
    column-gap: 10px;
    padding: 0px;
    margin: 0px;
}

.header a {
    text-decoration: none;
    color: black;
}

.header-title {
    font-size: 24px;
    font-weight: 900;
}