/*Variables*/
:root {
    --main-padding-size: 32px 300px 32px 300px ;
}

/*General Rules*/
* {
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

body > * {
    padding: var(--main-padding-size)
}


/*Header Rules*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(66, 66, 99);
    padding-top: 16px;
    padding-bottom: 16px;
}

.header ul {
    display: flex;
    list-style: none;
    column-gap: 10px;
    padding: 0px;
    margin: 0px;
}

.header a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.header-title {
    font-size: 24px;
    font-weight: 900;
    color: white;
}

/*Greeter Rules*/

.greeter {
    display: flex;
    justify-content: space-between;
    background-color: rgb(66, 66, 99);
    column-gap: 32px;
}

.greeter-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greeter-card-title {
    font-size: 46px;
    color: cyan;
    font-weight: 800;
}

.greeter-card-text {
    font-size: 24px;
    color: white;
    margin-bottom: auto;
}

.greeter-card-button {
    height: 50px;
    width: 150px;
    font-size: 24px;
    font-weight: 600;
    background-color: cyan;
    color: rgb(66, 66, 99);
    border-radius: 10px;
}

/*Main Div Rules*/

.main {
    display: flex;
    flex-direction: column;
}

.main-title {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 32px;
}

.card-deck {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.card-img {
    width: 200px;
}

.card-text {
    text-align: center;
}

/*Testimonials Rules*/

.testimonials {
    background-color: rgb(209, 216, 231);

    display: flex;
    flex-direction: column;
}

.quote {


    font-size: 24px;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;

    font-weight: 800;
    font-size: 18px;
}